@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700';
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

nav {
	display: inline-block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(0,0,0,1);
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	top: -100px;
	animation: slideNav 600ms;
	border-top: 5px solid #ffb100;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1, .2, 1, 1.2);
	border-bottom: 1px solid white;
}

@keyframes slideNav {
	0% {
		top: -100px;
	}
	100% {
		top: 0;
	}
}

nav ul {
	padding: 0;
	margin: 0;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}

nav ul li {
	padding: 15px;
	display: inline-block;
	
}

nav ul .link {
	float: right;
}

nav ul li a{
	font-size: 28px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	transition: all 300ms;
}

nav ul li a:hover:not(.active) {
	color: gray;
	transform: scale(1.1);

}

nav .active {
	color: white;
	transform: scale(1.1);
}

nav .active:before {
	content: "> ";
	color: red;
	font-size: 28px;
	font-weight: bold;
}

nav ul .logo {
	--box-size-px: 70px;
	display: inline-block;
	
	width: var(--box-size-px);
	height: var(--box-size-px);
	background-color: orange;
	border-radius: 10px;
	font-size: 35px;
	padding: 0;
	
	line-height: var(--box-size-px);
	text-align: center;
	font-weight: bold;
	margin-right: auto;
	color: black;
	border: 5px solid white;

	/*
	animation: heartbeat 800ms infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 600ms;
	*/
}

/* EDGE SUPPORT */
_:-ms-lang(x), _:-webkit-full-screen, nav ul .logo {
	width: 70px;
	height: 70px;
	line-height: 70px;
}

/* IE 8, 9, 10 */
@media screen\0 {
    nav ul {
    	justify-content: flex-start;
    }

    nav ul .logo {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
}


@keyframes heartbeat {
	0%, 35% {
		transform: scale(1);
	}
	45% {
		transform: scale(1.05);
	}
	50% {
		transform: scale(0.95);
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(0.95);
	}
	90%, 100% {
		transform: scale(1);
	}

}

@keyframes logoRotate {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(210deg) scale(1.3);
	}
	70%, 100% {
		transform: rotate(360deg) scale(1);
	}
}